@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;900&display=swap');
body{
    display: grid;
    grid-template-columns: [main-start] 1fr [content-start] 2fr [content-end] 1fr [main-end];
    grid-template-rows: [main-start] 100% [main-end];
    margin: 0;
    font-family: 'Inconsolata', monospace!important;
    font-weight: 400;
    padding: 0!important;
    position: relative;
    overflow: hidden;
    color: rgba(0,0,0,0.97);
    font-size: calc((2vw + 1vh)/2);
    background-color: grey;
    z-index: 1000;
}
html{
    overflow: hidden;
}
*::selection{
    background-color: black;
    color:white;
}
.array img, button {
    display: inline-block;
    user-select: none;
}
h1, h2, h3{
    text-align: center;
}
h1 {
    font-stretch:ultra-expanded;
    font-size: 3em;
    font-weight: 800;
    margin: 0;
}
h2{
    font-size: 1em;
    font-weight: 800;
}
#customMSG, h3{
    font-size: 1em;
    font-weight: 400;
    background-color: white;
    display: block;
    padding: 0.25em 0.5em;
}
h3{
    font-size: 1.42em;
}
.page {
    text-align: center;
    grid-row-start: main-start;
    grid-row-end: main-end;
    grid-column-start: content-start;
    grid-column-end: content-end;
    height: 100vh;
    overflow-y: auto;
    z-index: 10000;
}
#mint{
    background-color: white;
    position: relative;
    left: -100vw;
    top: 0;
    width: 50vw;
    transition: left 0.5s, top 0.5s, opacity 1.5s;
    opacity: 0;
    padding: 0 0;
    text-align: center;
    visibility: collapse;
}
.showMint #mint{
    grid-row-start: main-start;
    grid-row-end: main-end;
    grid-column-start: content-start;
    grid-column-end: content-end;
    top:0;left:0;
    opacity: 1;
    visibility: visible;
    overflow-y: auto;
}
#main_page img{
    display: inline-block;
    width: min(25vw,25vh);
    transform-origin: 50% 50%;
    top: 6vh;
    right:0;
    position: absolute;
}
h1{
    color: white;
    font-weight: 800;
    font-size: 36px;
    display: block;
    margin-top: 0.42em;
    margin-bottom: 0.24em;
}
h3{
    margin-top: 1em;
    margin-bottom: 1em;
}
#mint h1, #mint p, #mint h2, #mint h3{
    margin-left: 5vw;
    margin-right: 5vw;
}
#mint img {
    width: min(25vh,25vw);
}
#mint .mint{
    text-align: center;
    padding: 2.5vh 2.5vw;
}
#mint button{
    display: inline-block;
}
#mint p{
    line-height: 1.5em;
}
input{
    border: 0;
    background-color: rgba(127,127,127,0.1);
    font-weight: 800;
    padding: 0.5em;
    display: inline-block;
    width: 5em;
}
button{
    border: 0;
    font-weight: 800;
    padding: 0.5em;
    display: inline-block;
    cursor: pointer;
}
#customMSG{
    border: 0.25em solid rgba(127,127,127,0.15);
    display: block;
    width: calc(80% - 0.5em);
    height: 50vh;
    max-height: 5em;
    margin: 0 auto;
}
#connect{
    background-color: white;
    position: absolute;
    top: 2vh;
    right: 2vw;
    padding: 2vh 2vw;
    z-index: 10000;
}
#connect:hover{
    background-color: rgba(255,255,255,0.79)!important;
}

#main_page{
    transition: opacity 1s;
    color: #797979;
    background-color: rgba(10,10,10,0.95);
    grid-column-start: content-start;
    grid-column-end: content-end;
    grid-row-start: main-start;
    grid-row-end: main-end;
    height: 100vh;
    overflow-y: auto;
}
#main_page p, #main_page h3{
    margin-left: 2vw;
    margin-right: 2vw;
}
#main_page p {
    line-height: 1.5;
}
.bold, b {
    color: white;
    font-weight: 800;
}
#main_page b, #main_page u{
    color: white;
}
#mint b, #mint .bold, #mint u{
    color: black;
}
#main_page p{
    background-color: rgba(255,255,255,0.05);
    padding: 0.5em;
}
#main_page p:nth-child(even){
    background-color: transparent;
    padding: 0.5em;
}
#main_page h1{
    font-size: 4em;
    letter-spacing: -2px;
    text-shadow: 0px 0px 4px black;
}
#info{
    background-color: white;
    margin-bottom: 10vh;
}
#info h2{
    color:white;
    font-size: 25px;
    margin-top: 5vh;
}
#info p{
    line-height: 1em;
}
h3 b, h3 u{
    color: black!important;
}
@media screen and (max-width: 749px){
    body{
        font-size: calc((1vw + 1vh));
        overflow-x:hidden;
        position:fixed;
        width: 100vw;
        height: 100vh;
        height: -webkit-fill-available;
        transform: scale(0.96,0.96) translate(0, 0);
        transform-origin: 50% 50%;
    }
    .page {
        width: 90vw;
        margin: 0 0;
        height: 100vh;
        height: -webkit-fill-available;
    }
    #main_page{
        position: relative;
        left: 0;
        width: 100vw;
        height: 100vh;
        height: -webkit-fill-available;
        top: 0;
        grid-column-start: main-start;
        grid-column-end: main-end;
        grid-row-start: main-start;
        grid-row-end: main-end;
        background-color: rgba(0,0,0,0.69);
    }
    #main_page img{
        position: relative;
        top:7vh;
        right: 0;
        width: min(50vh, 50vw);
    }
    #main_page h1{
        margin-top: 2em;
    }
    #mint{
        background-color: white;
        grid-column-start: main-start;
        grid-column-end: main-end;
        grid-row-start: main-start;
        grid-row-end: main-end;
        left: -100vw;
        top: 0;
        width: auto;
        margin: 0 auto;
        height: 100vh;
        height: -webkit-fill-available;
        padding: 0;
        opacity: 0;
        visibility: collapse;
        position: relative;
    }
    .showMint #mint{
        right: auto;top:auto;
        left: auto;bottom: auto;
        grid-column-start: main-start;
        grid-column-end: main-end;
        grid-row-start: main-start;
        grid-row-end: main-end;
        padding: 0;        
        opacity: 1;
        visibility: visible;
    }
    #customMSG{
        width:80vw;
        font-size: 1em;
        margin: 0 auto;
    }
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 15px;
    }
    #mint h1{
        padding: 1vh 0;
        text-indent: 2vw;
        margin: 2.5vh inherit;
        font-weight: 800;
        font-size: 2em;
    }
    #mint p, #mint h1, #mint h2, #mint h3 {
        margin-left: 5vw;
        margin-right: 5vw;
    }
    #mint p, #mint h1, #mint h2{
        background-color: transparent;
        padding: 0;
    }
    #mint h2{
        font-size: 30px;
    }
    #main_page p{
        color: white !important;
    }
    #main_page h3{
        color: black;
    }
}
.array img{
    width: 300px;
    height: 300px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.array{
    grid-row-start: main-start;
    grid-row-end: main-end;
    grid-column-start: main-start;
    grid-column-end: main-end;
    overflow: hidden;
    height: calc(100vh + 0);
    translate: -0 -0;
    scale: 1.25 1.25;
    transform-origin: 50% 50%;
    z-index: 500;
}
.array *{
    transform-origin: 50% 50%;
    position: absolute;
}
.arrayX {
    top: -50px;
    left: -50px;
    transform: scale(0.5,0.5);
    z-index: calc(inherit / 2);
}
.arrayY{
    top: 50px;
    left: -50px;
    transform: scale(2,2) ;
    z-index: calc(inherit * 2);
}
.hide{
    opacity: 0;
}
.BG, body, #mint button, .showMint #connect, #main_page, #mint *{
    transition: background-color 2.97s, color 2.97s, opacity 0.5s;
}