@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;900&display=swap');
body{
    display: grid;
    grid-template-columns: [main-start] 1fr [content-start] 2fr [content-end] 1fr [main-end];
    grid-template-rows: [main-start] 100% [main-end];
    margin: 0;
    font-family: 'Inconsolata', monospace!important;
    font-weight: 400;
    height: 100%;
    width: 100%;
    max-height: 100%;
    padding: 0!important;
    overflow-x: hidden;
    overflow-y: hidden;
    color: rgba(0,0,0,0.97);
    font-size: calc((2vw + 1vh)/2);
    background-color: grey;
    z-index: 1000;
}
html{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
*::selection{
    background-color: black;
    color:white;
}
.array img, button {
    display: inline-block;
    user-select: none;
}
h1, h2, h3{
    text-align: center;
}
h1 {
    font-stretch:ultra-expanded;
    font-size: 3em;
    font-weight: 800;
    margin: 0;
}
h2{
    font-size: 1em;
    font-weight: 800;
}
#customMSG, h3{
    font-size: 1em;
    font-weight: 400;
    background-color: white;
    display: block;
    padding: 0.25em 0.5em;
}
.page {
    text-align: center;
    grid-row-start: main-start;
    grid-row-end: main-end;
    grid-column-start: content-start;
    grid-column-end: content-end;
    overflow-y: auto;
    z-index: 10000;
}
#mint{
    background-color: white;
    position: relative;
    left: -100vw;
    top: 0;
    width: 50vw;
    transition: left 0.5s, top 0.5s, opacity 1.5s;
    opacity: 0;
    padding: 0 0;
    text-align: center;
    visibility: collapse;
}
.showMint #mint{
    grid-row-start: main-start;
    grid-row-end: main-end;
    grid-column-start: content-start;
    grid-column-end: content-end;
    top:0;left:0;
    opacity: 1;
    visibility: visible;
    overflow-y: auto;
}
h1{
    margin-top: 5vh;
    color: white;
    font-weight: 800;
    font-size: 36px;
    display: inline-block;
}
h3{
    margin-top: 1em;
    margin-bottom: 1em;
}
#mint h1, #mint p, #mint h2, #mint h3, #mint #customMSG{
    margin-left: 5vw;
    margin-right: 5vw;
}
#mint img {
    width: min(25vh,25vw);
}
#mint .mint{
    text-align: center;
    padding: 2.5vh 2.5vw;
}
#mint button{
    display: inline-block;
}
#mint p{
    line-height: 2em;
}
input{
    border: 0;
    background-color: rgba(127,127,127,0.1);
    font-weight: 800;
    padding: 0.5em;
    display: inline-block;
    width: 5em;
}
button{
    border: 0;
    font-weight: 800;
    padding: 0.5em;
    display: inline-block;
    cursor: pointer;
}
#customMSG{
    border: 0.25em solid rgba(127,127,127,0.15);
    display: block;
    width: calc(80% - 0.5em);
    height: 50vh;
    max-height: 10em;
}
#connect{
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    padding: 2vh 2vw;
    z-index: 10000;
}

#main_page{
    transition: opacity 1s;
    color: #797979;
    background-color: black;
}
#main_page p, #main_page h3{
    margin-left: 2vw;
    margin-right: 2vw;
}
.bold, b {
    color: white;
    font-weight: 800;
}
#main_page b, #main_page u{
    color: white;
}
#mint b, #mint .bold, #mint u{
    color: black;
}
#main_page p{
    background-color: rgba(255,255,255,0.05);
    padding: 0.5em;
}
#main_page p:nth-child(even){
    background-color: transparent;
    padding: 0.5em;
}
#main_page h1{
    font-size: 4em;
    letter-spacing: -2px;
    text-shadow: 0px 0px 4px black;
}
#info{
    background-color: white;
    padding-bottom: 2.5vh;
}
#info h2{
    color:white;
    font-size: 25px;
    margin-top: 5vh;
}
#info h3{
    margin-top: 7.5vh;
}
#info p{
    line-height: 1em;
}
h3 b, h3 u{
    color: black!important;
}
@media screen and (max-width: 749px){
    body{
        font-size: calc((1vw + 2vh));
    }
    #main_page{
        left: 0;
        top: 0;
        grid-column-start: main-start;
        grid-column-end: main-end;
        grid-row-start: main-start;
        grid-row-end: main-end;
    }
    .page {
        width: 90vw;
        margin: 0 0 0 0;
        padding: 0 5vw;
    }
    #main_page h1{
        margin-top: 5vh;
    }
    #mint{
        background-color: white;
        left: -100vw;
        top: 0;
        width: 100vw;
        padding: 0;
        opacity: 0;
        visibility: collapse;

    }
    .showMint #mint{
        left: 0;
        grid-column-start: main-start;
        grid-column-end: main-end;
        bottom: 0;
        width: auto;
        height: auto;
        opacity: 1;
        visibility: visible;
    }
    #customMSG{
        width:80vw;
        font-size: 15px;
    }
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 15px;
    }
    #mint *{
        font-size: 15px;
    }
    #mint h1{
        padding: 1vh 0;
        text-indent: 2vw;
        margin: 2.5vh inherit;
        font-weight: 800;
        font-size: 2em;
    }
    #mint p, #mint h1, #mint h2{
        background-color: transparent;
    }
    #mint h2{
        font-size: 30px;
    }
}
.array img{
    width: 300px;
    height: 300px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.array{
    grid-row-start: main-start;
    grid-row-end: main-end;
    grid-column-start: main-start;
    grid-column-end: main-end;
    overflow: hidden;
    height: calc(100vh + 0);
    translate: -0 -0;
    scale: 1.25 1.25;
    transform-origin: 50% 50%;
    z-index: 500;
}
.array *{
    transform-origin: 50% 50%;
    position: absolute;
}
.arrayX {
    top: -50px;
    left: -50px;
    transform: scale(0.5,0.5);
    z-index: calc(inherit / 2);
}
.arrayY{
    top: 50px;
    left: -50px;
    transform: scale(2,2) ;
    z-index: calc(inherit * 2);
}
.hide{
    opacity: 0;
    visibility: collapse;
}
.BG, body, #mint button, .showMint #connect, #main_page, #mint *{
    transition: background-color 2.97s, color 2.97s, opacity 1.5s;
}